body
{
background-color:lightseagreen;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
    font-size: 50px;
}

.counter-card{
    background-color: green;
    width: 70px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    padding: 10px,10px;
    border-radius: 15px;
    font-size: 30px;
    cursor: pointer;
    
}

button:hover{
color: lightblue;
transition: all 0.3s ease-in;
}